# If you're building an application, you should check-in your pubspec.lock
# Do not ignore pubspec.lock for Flutter apps

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/

# Web
web/.dart_tool/

# IDEs
.idea/
.vscode/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos sensíveis
.env
.env.*
